target
src/test
.idea
.vscode
.remember
.classpath
.project
.settings
.factorypath
*.iml
*.log
.DS_Store
docs
specs
mvnw.cmd
.gitignore
.gitattributes
.env
.env.*
!.env.example
Dockerfile
.dockerignore
